<style>
  #about p{
    text-align: center;
  }

  #about img{
    width: 40%;
  }


</style>

<div class="scrollable">  
  <div class="scrollable-content">
    <div class="container-fluid section section-break">
      <div id="about">
        <p>
          <img src="{{logo}}" alt="">
        </p>
        <p>
          Magang dimana adalah sebuah aplikasi dimana anda akan disuguhkan dengan pilihan tempat magang. Selain itu, anda juga bisa ikut berpartisipasi di dalam forum. Ikut membuat thread atau sekedar berkomentar ria.
        </p>
      </div>
    </div>
  </div>
</div>
